version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      # =============================================
      # ĐỔI DB_TYPE để switch Strategy:
      #   "postgres" | "mysql" | "mongodb"
      # =============================================
      DB_TYPE: postgres
      DB_DSN: "host=postgres user=postgres password=postgres dbname=items_db port=5432 sslmode=disable"
      # DB_TYPE: mysql
      # DB_DSN: "root:root@tcp(mysql:3306)/items_db?charset=utf8mb4&parseTime=True&loc=Local"
      # DB_TYPE: mongodb
      # MONGO_URI: "mongodb://mongodb:27017"
      # MONGO_DB: items_db
      # MONGO_COLL: items
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: items_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mysql:
    image: mysql:8-debian
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: items_db
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mysqldata:
  mongodata:
